*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
}
.header h2{
    margin: 8px;
}
.buscador{
    margin: 8px;
}
.titulo{
    text-align: center;
    background-color: #abb8c3;
    padding: 1rem;
}
.contenedor{
    border: none;
}
.acceder{
    padding: 1rem;
}
.checkBox{
    display: flex;
    padding: 1rem;
}
.inputUser{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.inputPassword{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.submit{
    
    padding: 10px 40px;
}